<div>
  <input #newIntent type="text">
  <button class="btn btn-success" (click)="addNewIntent(newIntent.value)">Add</button>
</div>
<div *ngIf="intents !== null">
  <div class="card-deck">
    <div class="card" *ngFor="let intentKey of intents.getKeys()">
      <div class="card-header">
        {{intentKey}}
      </div>
      <div class="card-body">
        <a class="btn btn-primary" [routerLink]="'/intent/' + intentKey">Edit</a>
        <button class="btn btn-danger" (click)="deleteIntent(intentKey)">Delete</button>
      </div>
    </div>
  </div>

</div>
