<div>
  <input #newEntity type="text">
  <button class="btn btn-success" (click)="addNewEntity(newEntity.value)">Add</button>
</div>
<div *ngIf="entities !== null">
  <div class="card-deck">
    <div class="card" *ngFor="let entityKey of entities.getKeys()">
      <div class="card-header">
        {{entityKey}}
      </div>
      <div class="card-body">
        <a class="btn btn-primary" [routerLink]="'/entity/' + entityKey">Edit</a>
        <button class="btn btn-danger" (click)="deleteEntity(entityKey)">Delete</button>
      </div>
    </div>
  </div>

</div>
